.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #920205;
  overflow: hidden;
}
header h1 {
  font-size: calc(10px + 3vmin);
  color: #e4d1bb;
  margin: 0 auto 20px;
  padding: 20px 15px 0;
}
footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
